.main {
    padding: 40px;
}

.title {
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    text-align: center;
    padding-bottom: 40px;
}

.total {
    font-family: 'Lexend', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: right;
    padding: 20px;
}

.quantity {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
}

.quantity > input {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
}

.quantity > input:focus {
    appearance: none;
    border: none;
    border-bottom: 2px solid black;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons > button {
    appearance: none;
    background-color: inherit;
    font-family: inherit;
    font-size: 1.4rem;
    height: 50px;
    width: 50px;
    border: 2px black dotted;
    border-radius: 100%;
}

.buttons > button:hover {
    background-color: hsl(0 0 90);
}

.buttons > button:active {
    background-color: hsl(0 0 80);
}

.subtotal {

}