@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    font-family: 'Zalando Sans', sans-serif;
    font-size: 16px;
    --dashboard-color: hsl(200 100 30)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.dashboard {
    color: white;
    background-color: var(--dashboard-color);
    font-family: 'Lexend', sans-serif;
    display: flex;
    justify-content: space-around;
}

.title {
    align-self: center;
}

.links {
    display: flex;
    gap: 20px;
}

.links > a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 30px;
}

.links > a:hover {
    background-color: hsl(200 100 40);
}

.links > a:last-child {
    position: relative;
}

.cart-length {
    color: black;
    background-color: hsl(340 100 80);
    font-family: 'Zalando Sans', sans-serif;
    font-size: 1rem;
    padding: 5px 10px;
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}