.main {
    display: grid;
    grid-template-columns: auto 1fr;
}

.filters {
    margin: 0 30px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 60px 30px 0;
    position: relative;
}

.filters > div {
    position: sticky;
    top: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter {
    font-size: 1.2rem;
    display: flex;
    gap: 10px;
    align-items: center;
}

.items {
    padding: 0 40px 0 20px;
}

.title {
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    padding: 20px;
}

.item {
    border: 1px solid black;
    border-bottom: none;
    padding: 20px 40px 20px 20px;
    display: grid;
    grid-template-columns: 200px 1fr auto;
}

.item:last-of-type {
    border-bottom: 1px solid black;
}

.img {
    justify-self: center;
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.name {
    font-family: 'Lexend', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.description {
    color: hsl(0 0 10);
    padding-left: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info > h4 {
    font-size: 1.1rem;
    font-weight: 500;
}

.form {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.quantity {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50px;
}

.quantity > * {
    appearance: none;
    background-color: inherit;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid black;
    margin-left: -1px;
    height: 50px;
    text-align: center;
}

.quantity > :first-child {
    margin: 0;
}

.submit {
    appearance: none;
    background-color: inherit;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid black;
    padding-left: 2px;
    border-top: none;
    height: 50px;
    text-align: center;
}

.quantity > button:hover,
.submit:hover {
    background-color: hsl(0 0 90);
}

.quantity > button:active,
.submit:active {
    background-color: hsl(0 0 80);
}

.adjust {
    composes: form;
    align-self: stretch;
    justify-content: space-evenly;
    min-width: 150px;
}